<button *ngIf="!posts?.length" (click)="getPosts()" mat-raised-button color="primary">Load posts</button>

<div *ngFor="let post of posts">
	<div class="json post">
		<h2>{{ post.title }}</h2>

		<p>{{ post.body }}</p>
	</div>
</div>
<!-- 
<div *ngFor="let blog of blogs$ | async">
	<div class="json post">
		<h2>{{ blog.title }}</h2>

		<div class="bold">By {{ blog.authorName }}</div>

		<p *ngFor="let paragraph of blog.paragraphs">{{ paragraph }}</p>

		<div class="comments">
			<div class="comment json" *ngFor="let comment of blog.comments">
				<p class="bold">{{ comment.email }}</p>
				<p *ngFor="let paragraph of comment.paragraphs">{{ paragraph }}</p>
			</div>
		</div>
	</div>
</div> -->
